* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form label,
.regidentUser textarea,
.delSerialNum input {
  display: block;
}

/* 
   인라인 스타일 지정시에는 textarea 속성을 이용하지만,
   외부 스타일 적용시에는 width, height 속성으로 지정.
*/
.content textarea {
  width: 500px;
  height: 300px;
}

.content {
  margin-top: 10px;
}

.listTable {
  margin-bottom: 20px;
}

.listTable li {
  border-bottom: 1px solid;
  padding: 10px;

  display: flex;
}

.listTable li div {
  width: 100%;
}

/* 
  listTable 의 div 태그 안에 링크를 걸기 위해 Link 태그를
  지정한바, 선택자에서는 Link 태그를 직접 인지하지 못함.
  브라우저 렌더링 과정에서 Link 태그를 a 태그로 변환하여
  렌더링하므로 아래와 같이 a 태그로 선택자 지정.
*/
.listTable li a {
  background-color: #c0c0c055;
}

.delSerialNum {
  margin-top: 20px;
}